GROQ_API_KEY=YOUR_GROQ_KEY
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY= YOUR_LANGSMITH_KEY
LANGSMITH_PROJECT=YOUR_LANGSMITH_PROJECT_KEY

KB_DIR=knowledge-base
ORDERS_PATH=data/orders.json
FAISS_INDEX_PATH=storage/faiss_index
BM25_INDEX_PATH=storage/bm25_index.pkl